modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Run Dev"

[[workflows.workflow]]
name = "Run Dev"
author = 39014723

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "HOST=0.0.0.0 PORT=3000 next dev"
[env]
REPLIT_KEEP_PACKAGE_DEV_DEPENDENCIES = "1"
REPLIT_DISABLE_PACKAGE_LAYER = "1"
